/*------------------------------MOBILE STYLE--------------------------------*/
* {
    box-sizing: border-box;
}

body {
    /* background-color: rgba(0, 255, 64, 0.267); */
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.App {
    padding: 0;
    margin: 0;
}

.container {
    /* background-color: rgba(33, 0, 71, 0.466); */
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
}

/*------------------------------FRONT CARD STYLE---------------------------- */

.front--card {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 40px;
    top: 280px;
    z-index: 10;
}

.front--card--info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(0, 255, 255, 0.151); */
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
}

.front--card--info h1 {
    position: absolute;
    top: 50%;
    font-weight: 500;
    font-size: 40px;
    line-height: 23px;
    letter-spacing: 6px;
}

.front--card--info .bottom {
    /* background-color: brown; */
    width: 83%;
    position: absolute;
    top: 73%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    letter-spacing: 3px;
}

.front--card--info .bottom h3 {
    font-weight: 100;
}

.front, 
.back {
    width: 150%;
}

.circle.white {
    position: absolute;
    top: 17px;
    left: 35px;
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.circle.blank {
    position: absolute;
    top: 36px;
    left: 130px;
    background-color: transparent;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* -----------------------------BACK CARD STYLE---------------------------- */

.back--card {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 270px;
    top: 70px;
    z-index: 0;
    /* position: relative; */
}

.back--card--info {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    position: absolute;
    top: 39%;
    left: 120%;
    font-size: large;
    letter-spacing: 3px;
    font-weight: lighter;
}

/* --------------------------------FORM STYLE------------------------------- */


.form {
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 0 100px 100px 100px;
    font-size: 30px;
}

span {
    color: red;
    margin-bottom: 40px;
}

.form label {
    color: #21092F;
    font-weight: 500;
    letter-spacing: 3px;
}

.form input {
    width: 100%;
    height: 100px;
    font-size: 40px;
    margin-top: 20px;
    border: 3px solid #DFDEE0;
    border-radius: 16px;
    padding: 0 35px;
}

.form input:focus {
    outline: 3px solid #21092F;
    border: none;
}

.form input::placeholder {
    color: rgba(65, 65, 65, 0.473);
    font-family: 'Space Grotesk', sans-serif;
}

.dates--cvv {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
}

.dates--cvv input {
    margin-right: 4%;
}

.dates {
    /* background-color: rgba(0, 0, 255, 0.486); */
    display: flex;
    flex-direction: column;
    width: 70%;
}

.dates--input {
    /* background-color: rgba(0, 255, 0, 0.486); */
    display: flex;
    flex-direction: row;
    width: 100%;
}


/*--------------------------------BUTTON STYLE------------------------------ */

button {
    margin-top: 55px;
    height: 110px;
    border: none;
    border-radius: 16px;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.5px;
    color: white;
    background-color: #21092F;
    cursor: pointer;
}

/*---------------------------------THANKS STYLE---------------------------- */

.thanks--container {
    /* background-color: #21092f85; */
    padding: 25% 10%;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.thanks {
    /* background-color: aqua; */
    color: #21092F;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thanks img {
    width: 160px;
}

.thanks h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 70px;
}

.thanks p {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    color: #21092f8f;
}

.thanks button {
    width: 100%;
    cursor: pointer;
}

.thanks button a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
}